page-signup {

// img {
//         position:absolute;
//         left: 0;
//         right: 0;
//         margin:0 auto;
//         top:50%;
//         transform:translateY(-50%);
//     }
img {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
// form {
//     display: table-cell;
//     vertical-align: middle;
//     }
//   .button.button-light.active, .button.button-light.activated {
//     color: #fff;
//     opacity: inherit;
//   }
}
